.one{
  color:blue;
}
.two{
color:blue;
}
.three{
  color:blue;
}
.four{
  color: blue;
}
.five{
  color: blue;
}
.six{
  color: blue;
}
body{
  background-color: cornflowerblue;
}
.sidebar{
  float: right;
  width: 200px;
  height: 200px;
  margin: 20px;
}